---
import { Image } from "astro:assets";
---

<main class="mx-auto w-2/3">
    <h1 class="text-3xl"> Soy Javier</h1>
    <!-- <Image src={myImage} alt="Una descripción de mi imagen." />  -->    
    <h3> Desarrollador Backend expecializado en .NET que quiere convertirse en Fullstack. Este es mi primer proyecto como toma de contacto.</h3>
</main>